*{
    box-sizing: border-box;

}
.datsmy{
    padding-top: 200px;
    text-align: center;
    color: #403636;
    font-size: 250%;
}
body{
	font-family: 'Questrial', sans-serif;
      /*  background-image:url(/Users/a123/Desktop/Пікчерз/headphones_laptop_macbook_apple_107920_1280x720.jpg); */
}

img#white{
    z-index: -1;
    position: absolute;
    left: 0px;
    top: 0px;
    filter: blur(1px);
}
.check{
    color: #793131;
    outline: solid 5px;
    margin-top: 10%; 
    font-size: 40px;
    
}
.check:hover {
    color: white;
    background-color: #403636;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.container {
     display: flex;
    justify-content: center;
    align-items: center;
}
.myname{
    color: #793131;
    padding-left: 11px;
    float: left;
    margin-top: -20px;
    border: 5px solid white;
    padding: 15px;
}
.myname:hover{
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    color: #111;
}
.avatar{
    opacity: 0.85;
    border: 4px solid white;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    float: right;
    margin-top: -20px;
}
.avatar:hover{
      -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    opacity: 1;
}




